{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{{ title }}{% endblock %}
    </title>

    {% block styles %}
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-5.2.1/css/bootstrap.min.css' %}">
    {% endblock %}
</head>
<body>
    {% block layout %}
        <div class="container">
            {% if request.path != "/"%}
            <div class="row">
                <div class="col-12"><a href="{% url 'home-page'%}">Home</a></div>
            </div>
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block scripts %}
    <script src="{% static 'vendor/bootstrap-5.2.1/js/bootstrap.bundle.min.js' %}"></script>
    {% endblock %}
</body>
</html>